@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    max-width: 1440px;
}

header {
    padding: 20px 60px;

    background-image: url(../image/shirts-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(3, 66, 3, 0.89); */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.763);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h3 {
    display: inline;
    font-size: 2rem;
    color: white;


}

.logo img {
    text-align: center;
    height: 80px;
    width: 80px;
    border-radius: 45px;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 50px;
}

.menu-item {}

.menu-item-link {
    text-decoration: none;
    /* color: rgb(202, 150, 19); */
    color: white;
    font-size: 1rem;
    font-weight: 700;

}

/* --banner--section-- */

.banner {
    margin: 80px 0;
    gap: 100px;
}

.banner-content {
    text-align: center;
}

.banner-heading {
    color: whitesmoke;
    font-size: 3.5rem;
    margin: 30px 0 0 0;
    line-height: 80px;

}

.sunnah {
    color: goldenrod;
    font-weight: 700;
}

.para {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 600;
    margin: 20px;
    line-height: 40px;
}

.primary-btn {
    color: white;
    background-color: goldenrod;
    padding: 17px 25px;
    border-radius: 30px 30px 30px 0px;
    font-size: 1.125rem;
    font-weight: 600;
    transition: ease-in-out 0.3s;
}

.primary-btn:hover {
    background-color: whitesmoke;
    color: goldenrod;



}


main {
    background-color: rgba(0, 0, 0, 0.043);

}



/* sevices */

.services {
    padding: 50px 0px;

}

.services-heading {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
}

.services-topic {}

.services-topic ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 80%;
    margin: 50px auto 0;
}

.services-topic ul li {
    padding: 17px 20px;
    height: 120px;
    font-size: 21px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.801);
    border-radius: 8px;
    box-shadow: 5px 10px 10px gray;

    background-color: rgba(241, 207, 121, 0.954);
    transition: ease-in 0.04s;
    cursor: pointer;
}

.services-topic ul li:hover {
    background-color: rgba(236, 109, 5, 0.909);
    color: white;
}

/* products */

.products-section {
    padding: 50px;
}

.product-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 50px auto;
}

.product-price {
    border: 5px solid goldenrod;
    height: 350px;
    border-radius: 10px 10px;
    padding: 20px;
    transition: ease-in 0.04s;
    cursor: pointer;
    box-shadow: 5px 10px 15px gray;
    /* background-color: rgba(0, 0, 0, 0.402); */
    background-color: rgba(203, 202, 199, 0.121);

}

.product-price:hover {
    background-color: rgba(231, 157, 157, 0.308);
}

.price {}

.price h2 {
    color: rgb(236, 109, 5);
    /* font-size: 20px; */
    /* font-weight: 600; */
    /* display: inline; */
    margin: 0;
}

.product {
    height: 280px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border: 1px solid goldenrod;

}